# env 
.venv/
venv/
env/
.env
.env.local
uv.lock

# artifacts
dist/
build/
*.egg-info/
*/__pycache__/
*.pyo
*.pyd
*.pyc

# outputs
wandb/
outputs/
logs/

# development
.idea/
.vscode/
*.swp
.DS_Store



# WIPs
wip/
verifiers/envs/search_env.py
verifiers/envs/tool_env.py